<br>
<br><br>
<div class="uk-child-width-1-1@s uk-text-center" uk-grid>
   
    <div>
        <div class="uk-background-secondary uk-light uk-padding uk-panel">
            <p class="uk-h4"><b>PERSONS RELATED TO THE TEMPLE</b> </p>
        </div>
    </div>
</div>

<table class="uk-table uk-table-hover  uk-table-divider">
    <thead>
        <tr>
            <th class="uk-text-center">First Name</th>
            <th>Last Name</th>
         
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="uk-text-center" >തെക്കിനിയേടത്ത്മന കൃഷ്ണൻ തിരുമേനി </td>
            <td>ക്ഷേത്രം തന്ത്രി</td>
            
        </tr>
        <tr>
            <td class="uk-text-center">അയ്യപ്പു പാറപ്പുറത്ത്</td>
            <td>ക്ഷേത്രകമ്മിറ്റി ഉപദേശകർ</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">കൃഷ്ണൻ അക്ഷയ</td>
            <td>സെക്രട്ടറി</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">സുബ്രഹ്മണ്യൻ പാറപ്പുറത്ത് </td>
            <td>പ്രസിഡന്റ്</td>
         
        </tr>
        

        <tr>
            <td class="uk-text-center"> നാരായണൻ കുറ്റിക്കാട്ടിൽ</td>
            <td>വൈസ്പ്രസിഡന്റ്</td>
    
        </tr>

        <tr>
            <td class="uk-text-center">കുഞ്ഞാടമ്പി അയ്യങ്കോട്</td>
            <td>വൈസ്പ്രസിഡന്റ്</td>
    
        </tr>

        <tr>
            <td class="uk-text-center"> അപ്പുണ്ണി കുറ്റിക്കാട്ടിൽ </td>
            <td>ജോയിന്റ് സെക്രട്ടറി</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">കൃഷ്ണൻകുട്ടി  കണക്കത്തറ</td>
            <td>ജോയിന്റ് സെക്രട്ടറി</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">സുധാകരൻ നേർത്തേതിൽ</td>
            <td>ഗജാഞ്ചി</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">മണികണ്ഠൻ കുറ്റിക്കാട്ടിൽ </td>
            <td>ഗജാഞ്ചി</td>
    
        </tr>
     
    </tbody>
</table>