

<div class="uk-invisible@m uk-sticky "
    uk-sticky="sel-target: .uk-navbar-container;"
    style="position: fixed;top:0px;width:519px;">

    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left ">
            <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>

            
        

            <a class="uk-navbar-item uk-text-bold uk-logo" href="/">
                <img src="assets/img/logo.jpg" style="width: 150px; height: 100px; padding-left: 30px;">
     വെള്ളാഞ്ചേരി കണക്കത്തറ <br>  ശ്രീ രുധിരമാല ഭഗവതി ക്ഷേത്രം
            </a>
        </div>
     
        <div class="uk-navbar-right ">
            <ul class="uk-navbar-nav uk-visible@s">
                <li class="uk-active ">
                    <a class="uk-text-small uk-text-capitalize" href="">Temple</a>
                    <div class="uk-navbar-dropdown uk-width-small sub-menu">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active "><a href="abo">About festival</a></li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-active "><a href="off">Offering</a></li>
                            <li class="uk-nav-divider"></li>
                          

                            <li class="uk-active "><a href="time">Pooja timing</a></li>
                           
                        </ul>
                    </div>
                </li>
               
                <li class="uk-active"><a class="uk-text-small uk-text-capitalize" href="com"> Commitee</a></li>

                <li class="uk-active ">
                    <a class="uk-text-small uk-text-capitalize" href="photos">Gallery</a>
                   
                </li>

              
                <li class="uk-active"><a class="uk-text-small uk-text-capitalize" href="contactus"> Contact us</a></li>

            </ul>
        </div>
    </nav>
    <div id="sidenav" uk-offcanvas="overlay: true" class="mobile-menu">
        <div class="uk-offcanvas-bar">

            <ul class="uk-nav  uk-nav-parent-icon uk-nav-default" data-uk-nav>
                <li class="uk-parent">
                    <a class="uk-text-small uk-text-capitalize" href="aboutus">Temple</a>

                    <ul class="uk-nav-sub">
                        <li class="uk-active "><a href="abo">About festival</a></li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-active "><a href="off">Offering</a></li>
                        <li class="uk-nav-divider"></li>
                       
                        <li class="uk-active "><a href="our_team">Pooja timing</a></li>
                       
                    </ul>

                </li>
                <li class="uk-active"><a class="uk-text-small uk-text-capitalize" href="com"> Commitee</a></li>
               
                <li class="uk-parent">
                    <a class="uk-text-small uk-text-capitalize" href="aboutus">Gallery</a>

                    <ul class="uk-nav-sub">
                        <li class="uk-active "><a href="phs">Photos</a></li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-active "><a href="off">Videos</a></li>
                   
                    </ul>

                </li>




              
                <li class="uk-active"><a class="uk-text-small uk-text-capitalize" href="contact"> Contact us</a></li>

            </ul>


                
        </div>
    </div>
</div>

