<div>
    <div class="uk-section uk-section-large uk-section-muted" style="padding-bottom: 50px;">
<div class="uk-container">
    
    
<div class="uk-grid-match uk-margin-large uk-child-width-1-4@s" uk-grid="true">
    <div class="uk-inline">

        <img src="assets/img/logo.jpg" alt="">
    
       

    </div>
    <div>
         <h4>DONATION</h4>

         <p  class="uk-text-medium uk-text-justify">DONATIONS ARE REQUIRED FOR THIS TEMPLE TO FINISH IT'S RENOVATION WORKS. ALWAYS WELCOME ALL KID OF DONATIONS WITHOUT THE MATTER OF AMOUNT ON BEHALF OF THE CHAIRMAN OF THE TEMPLE. YOU CAN ALSO TRANSFER MONEY ONLINE TO OUR ACCOUNT WHICH HAVING CORE BANKING FACILITY. CHOOSE ANY OPTION WHICH IS POSSIBLE AND CONVENIENT TO YOU AND MAKE SURE THE MONEY REACHES IN THE ACCOUNT OF TEMPLE. NET BANKING, D.D, CHEQUES, CREDIT/DEBIT CARD TRANSFERS, MONEY ORDERS ETC... AFTER SENDING MONEY YOU CAN SEND US EMAIL OR POSTAL MAIL MENTIONING YOUR NAME AND ADDRESS, WHICH WE WILL KEEPS ON OUR RECORDS.
</p>

    </div>
    <div>
  <h3>BANK INFO</h3>
  <p>BANK NAME : punjab national bank</p>
  <p>ACCOUNT NUMBER : 4307000100345298
      </p>
      <p>IFCE CODE : PUNB0430700</p>
      <p>BRANCH : kuttippuram</p>
    </div>

    <div>
                            <h3>Contact US</h3>
<p>വെള്ളാഞ്ചേരി കണക്കത്തറ ശ്രീ രുധിരമാല ഭഗവതി ക്ഷേത്രം<br></p>
തൃക്കണാപുരം (po)<br>

 <P>  തവനൂർ (via) , വെള്ളാഞ്ചേരി <br>
    മലപ്പുറം ജില്ല </P>
<br>
    pin : 679573 
   <br>Phone no: 9747322588, 8592081560 ,9946013265

    </div>
</div>
</div>


    
            
    
</div>
   

<div class=" uk-padding">
    <p class="uk-align-left" style="width: 350px; height: 30px; font-size: 13px;">© Copyright വെള്ളാഞ്ചേരി കണക്കത്തറ ശ്രീ രുധിരമാല ഭഗവതി ക്ഷേത്രം. All Rights Reserved</p>
        
    
    <div class="uk-align-right" style="margin-left: 0px; margin-left: 0px;">
        <a style="margin: 10px;"><span uk-icon="icon:  facebook; ratio: 1"></span></a>
        <a style="margin: 10px;"> <span uk-icon="icon:  instagram; ratio: 1"></span></a>
        <a style="margin: 10px;"><span uk-icon="icon:   linkedin; ratio: 1"></span></a>
        <a style="margin: 10px;"><span uk-icon="icon:  twitter; ratio: 1"></span></a>
        <a style="margin: 10px;"><span uk-icon="icon:  whatsapp; ratio: 1"></span></a>
 
    </div>
</div>

</div>
