.uk-section-large {
    padding-top: 140px;
    padding-bottom: 1px;
}
.uk-grid-item-match, .uk-grid-match>* {
    display: inline-block;
    flex-wrap: wrap;
}
.uk-section-muted {
    background: #b2eaec;
}