<div class="uk-child-width-1-1@s uk-text-center" uk-grid>
   
    <div>
        <div class="uk-background-secondary uk-light uk-padding uk-panel">
            <p class="uk-h4"><b>TIME OF TEMPLE</b> </p>
        </div>
    </div>
</div>

<table class="uk-table uk-table-hover  uk-table-divider">
    <thead>
        <tr>
            <th class="uk-text-center">Eternal pooja</th>
            <th>Time</th>
         
        </tr>
    </thead>
      <tbody>
        <tr>
            <td class="uk-text-center" >Temple Nada opens</td>
            <td> 5:00 AM </td>
            
        </tr>
        <tr>
            <td class="uk-text-center">Nirmalyam</td>
            <td>5.15 AM</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">
                Abhishekam </td>
            <td>5.25 AM</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> malar nedhyam </td>
            <td>5.30 AM</td>
         
        </tr>
        

        <tr>
            <td class="uk-text-center"> Usha pooja</td>
            <td>8.00 AM</td>
    
        </tr>

        <tr>
            <td class="uk-text-center">adach pooja </td>
            <td> 8.15 AM </td>
    
        </tr>

        <tr>
            <td class="uk-text-center">  nada thurapp -  (muttarukal - vazhipaad cheyal)  </td>
            <td> 8 :30 AM</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">Temple Nada Close  </td>
            <td>  9.00 AM</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">Nada opens for evening poojas</td>
            <td>5.30 PM </td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> Deeparadhana</td>
            <td> 6.00 PM </td>
    
        </tr>
        <tr>
            <td class="uk-text-center">Athazha pooja </td>
            <td> 7.00 PM</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">Temple Nada Close </td>
            <td> 7.30 PM  </td>
    
        </tr>
     
    </tbody>
</table> 