
<br>

<h2 class="uk-text-center"><B>തിരുപൊങ്കാല രഥോത്സവം</B></h2>

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div class="uk-column-1-2@s">
    
                
                <p class="uk-text-medium uk-text-justify">
                    മാതൃഭാവത്താൽ കാരുണ്യംകൊണ്ട് വിസ്‌മയിപ്പിച്ച്  തട്ടകത്തമ്മയായി വിരാചിക്കുരുധിരമാലമ്മത്തമ്പുരാട്ടിയുടെ തിരുപൊങ്കാല രഥോത്സവം എല്ലാ വർഷവും കുംഭം മാസത്തിൽ നടത്തപ്പെടും.
                <br>
                    <br>ക്ഷേത്രം തന്ത്രി ( ശബരിമല ,ഗുരുവായൂർ മുൻ മേൽശാന്തി )   തെക്കിനിയേടത്ത് മന ബ്രഹ്മശ്രീ കൃഷ്‌ണൻ തിരുമേനിയുടെയും സഹ തിരുമേനിമാരുടെയും മുഖ്യകാർമ്മികത്ത്വത്തിൽ നടത്തപ്പെടുന്ന മഹാഗണപതിഹോമത്തിനും ഏഴുദിവസം നീണ്ടു നിൽക്കുന്ന ദ്രവ്യകലശാരംഭത്തിൽ അനേകം പരുപാടികളും.  
<br>
                    <br>രഥാരൂഡയായി അമ്മത്തമ്പുരാട്ടി നടഞ്ചേരി ശ്രീ മഹാദേവൻ്റെ അനുഗ്രഹവും അനുവാദവും ഏറ്റുവാങ്ങി , പച്ചോലക്കുട ചൂടിയ കന്യകമാരും തീർത്ഥകുംഭം ,പാണ്ടിമേളം ,കോമരങ്ങൾ ,കൊടിക്കൂറ , തോരണങ്ങൾ 
                    തലപ്പൊലികളോടെ പുഷ്പാലംകൃതമായ രഥത്തിലമർന്ന് ഭക്തജന ഘോഷയാത്രയുടെ അകമ്പടിയോടെ ആനന്ദത്തിലാറാടി എഴുന്നള്ളുന്ന അമ്മക്ക് ആരതി കാണിച്ച് അമ്മയുടെ കാരുണ്യ കടാക്ഷം ഏറ്റുവാങ്ങി.
                        <br><br>
                    കലിയുഗത്തിൽ മനുഷ്യൻ നേരിട്ടു കൊണ്ടിരിക്കുന്ന 
                    എല്ലാ പ്രശ്നങ്ങൾക്കും തടസങ്ങൾക്കും പ്രതിവിധി ഈശ്വരസാക്ഷാത്കാരം മാത്രമാണ്. അത് 
                    ലഭിക്കുന്നതിനുള്ള ഏകമാർഗ്ഗം കൂട്ട പ്രാർത്ഥനയും നാമ 
                    സങ്കീർത്തനങ്ങളുമാണ് എന്ന സത്യം നേരിട്ടനുഭവിച്ചറിയണമെങ്കിൽ പൊങ്കാല സമയത്ത് ഈ
                     ക്ഷേത്രത്തിൽ നടക്കുന്ന പ്രാർത്ഥനയിൽ പങ്കെടുക്കുക.
                </p>                    

    
    
    
                <img data-src="assets/img/pon.jpg" width="600" height="200" alt="" uk-img>
    
            </div>
            <div class="uk-column-1-2@s uk-margin-medium ">
    
    
                <img data-src="assets/img/pooram.jpg" width="600" height="200" alt="" uk-img>
    
    
    
                
                <p class="uk-text-medium uk-text-justify">
                    <br>
                    <br>ജാതിമത ഭേദമില്ലാതെ ഒരുമിച്ചിരുന്ന് ഭക്ഷണം കഴിക്കുവാനും ഒരുമിച്ച് 
                    സന്തോഷിക്കുവാനുമുള്ള താണ് ഉത്സവങ്ങൾ ഭക്തിയുടേയും സ്നേഹത്തിൻ്റെയും
                     സങ്കലനമായ മനുഷ്യമനസ്സിലെ സ്നേഹഭാവലയ താളങ്ങളെ ഉത്തേജിപ്പിച്ച് ഉത്തമമായ 
                     ജീവിതം സാക്ഷാത്ക്കരിക്കാനുള്ള   
                    ഉദാത്തമായ യജ്ഞമാണ് ഉത്സവ ചടങ്ങുകളും ഉത്സവ കാഴ്ചകളും. </p>
                
    
            </div>
        </div>
    </div>
    <br>
    <h2 class="uk-text-center"><B>തൃക്കാർത്തിക ദീപ മഹോത്സവം </B></h2>
    
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div class="uk-column-1-2@s">
    
                
                <p class="uk-text-medium uk-text-justify">
                     വൃശ്ചികമാസത്തിലെ തൃക്കാർത്തിക. ഹൈന്ദവമത വിശ്വാസികളെ സംബന്ധിച്ചിടത്തോളം മുന്നോട്ടുള്ള ജീവിതം പ്രകാശപൂരിതമാക്കുന്ന ദിനം.
                    <br> മണ്‍ചെരാതുകളില്‍ കാര്‍ത്തികദീപം കത്തിച്ച്, ദേവിയെ മനസിൽ വണങ്ങി നാടെങ്ങും തൃക്കർത്തികയാഘോഷിക്കുന്നു. വിളക്ക്, പ്രകാശം പരത്തുന്നത് പോലെ തൃക്കാർത്തിക ദിനം ആചാര വിധികളോടെ ആചരിക്കുമ്പോൾ ദേവി ഭക്തരുടെ ജീവിതത്തിലും ഐശ്വര്യം പകർത്തുന്നു എന്ന് ഐതിഹ്യം പറയുന്നു.
                    <br>വൃശ്ചിക മാസത്തിലെ തൃക്കാര്‍ത്തിക ദേവിയുടെ ജന്മനക്ഷത്രമായതിനാലാണ് ഇന്നേ ദിവസം തൃക്കാർത്തിക മഹോത്സവമായി ആചരിക്കുന്നത്. സന്ധ്യാസമയങ്ങളിലാണ് ക്ഷേത്രങ്ങളിലും വീടുകളിലും ഭക്തർ വിളക്കുകൾ തെളിയിക്കുന്നത്. <br>
                    മനസ്സിലേയും വീട്ടിലേയും സകല ദോഷങ്ങളും തിന്മകളും ഇത്തരത്തിൽ വിളക്കുകൾ കത്തിക്കുന്നതോടെ ദേവി ഇല്ലാതാക്കും എന്നാണ് വിശ്വാസം.
                     വീട്ടിൽ ദീപം തെളിയിച്ചാല്‍ എല്ലാ ദുര്‍ബാധകളും ഒഴിഞ്ഞു പോകുമെന്നാണ് വിശ്വാസം.
                
                
                   <br> അഗ്നി നക്ഷത്രമാണ് കാര്‍ത്തിക. ഇത് ജ്ഞാനത്തിന്റെയും ആഗ്രഹ സാഫല്യത്തിന്റെയും ശുഭത്വത്തിന്റെയും പ്രതീകം കൂടിയാണ്. കാര്‍ത്തിക നക്ഷത്രവും പൗര്‍ണ്ണമിയും ഒരുമിച്ചു വരുന്ന തൃക്കാര്‍ത്തിക ദിനത്തിലാണ് ഈ നക്ഷത്രത്തിന് പൂര്‍ണ്ണബലം സിദ്ധിക്കുന്നത്. 
                    തൃക്കാര്‍ത്തിക ദിവസം ദേവിയുടെ പ്രത്യേക സാമീപ്യം
                    ഭൂമിയില്‍ ഉണ്ടായിരിക്കുമെന്നാണ് വിശ്വാസം. അതിനാൽ ഈ
                     ദിവസത്തെ പ്രാർത്ഥനയിൽ പെട്ടന്ന് ഫലസിദ്ധിയുണ്ടാകും എന്ന് 
                     കരുതപ്പെടുന്നു.മത്സ്യമാംസാദികൾ വർജിച്ച് വൃതമെടുത്താണ് ഭക്തർ തൃക്കാർത്തിക ദിനത്തിൽ വിളക്കുകൾ കത്തിക്കുന്നത്. 
                    ഇത് ആചാരത്തിന്റെ ഭാഗമാണ്.
                     ഇതോടൊപ്പം ലളിതാസഹസ്രനാമജപം, ദേവീകീര്‍ത്തന ജപം മുതലായവ നടത്തുകയും ചെയ്യുന്നു.
                
                
                </p>                    

    
    
    
                <img data-src="assets/img/ss.jpg" width="600" height="200" alt="" uk-img>
    
            </div>
            <div class="uk-column-1-2@s uk-margin-medium ">
    
    
                <img data-src="assets/img/sd.jpg" width="600" height="200" alt="" uk-img>
    
    
    
                
                <p class="uk-text-medium uk-text-justify">
                    <br>
                    <br>
                    <br>
                    <br> പ്രസിദ്ധമായ ചക്കുളത്ത് കാവിലെ പൊങ്കാല നടക്കുന്നത് തൃക്കാർത്തിക ദിനത്തിൽ തന്നെയാണ് .
                    ഇതിനു പുറമേ, തുളസീ ദേവിയുടെ ജനനം തൃക്കാർത്തിക നക്ഷത്രത്തിൽ ആയിരുന്നു എന്നും, സുബ്രഹ്മണ്യനെ എടുത്തു വളർത്തിയത് കാര്‍ത്തിക നക്ഷത്രത്തിന്റെ അധിദേവന്മാരായ കൃത്തികാ ദേവിമാരായിരുന്നു എന്നും വിശ്വാസമുള്ളതിനാൽ , തുളസീ , സുബ്രഹ്മണ്യൻ , വിഷ്ണു എന്നിവരെയും ഈ അവസരത്തിൽ പ്രീതിപ്പെടുത്തുന്നത് നന്നായിരിക്കും. 
                    തൃക്കാർത്തിക ദീപം തെളിയിക്കുന്ന വീടുകളിൽ മഹാലക്ഷി വസിക്കും എന്നും ഐതിഹ്യം പറയുന്നു. </p>
<b>  ക്ഷേത്രത്തിൽ പ്രത്യേകം തയ്യാറാക്കുന്ന പത്മങ്ങൾ </b>
                    <ul class="uk-list uk-list-decimal">
                        <li>ഷഡ്കോണ ദീപം   &nbsp; &nbsp;  -     ഇഷ്ടകാര്യസിദ്ധി</li>
                        <li> ത്രിശൂല ദീപം       &nbsp; &nbsp;      -     രോഗശാന്തി </li>
                        <li>       ത്രികോണ ദീപം &nbsp; &nbsp;       -     ഇഷ്ടവരനെ ലഭിക്കാൻ</li>
                        <li>     ചതുരശ്ര ദീപം       &nbsp; &nbsp;     -     ശത്രുദോഷ മോചനം </li>
                        <li>       വൃത്ത ദീപം      &nbsp; &nbsp;          -     വിദ്യാവിജയം </li>
                        <li>       അഷ്ടദള ദീപം  &nbsp; &nbsp;          -     നാഭിവൃദ്ധി , ഉദ്യോഗവിജയം ,ഭൂമിലാഭം</li>
                        <li>      പിണ്ടി ദീപം    &nbsp; &nbsp;            -      പിതൃദോഷ ശാന്തി </li>
                    </ul>

            </div>
        </div>
    </div>
    <br>