
<!--Slideshow banner start-->
<div class="uk-position-relative uk-visible-toggle uk-background-cover " tabindex="-1"  uk-slideshow="min-height: 420;  autoplay: true; autoplay-interval: 2200; max-height: 600; ">
    <ul class="uk-slideshow-items">
        <li>
            <img src="assets/img/te.jpg" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">അമ്മേ നാരായണ ദേവി നാരായണ ലക്ഷ്മി നാരായണ ഭദ്രേ നാരായണ</h3>
               
            </div>
        </li>
        <li>
            <img src="assets/img/rr.jpg" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">രഥോത്സവം </h3>
               
            </div>
        </li>
        <li>
            <img src="assets/img/vv.jpg" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">  വാദ്യപ്രണവം 2016  </h3>
              
                
                <p class="uk-margin-remove">(വെള്ളാഞ്ചേരി ശാഖ)</p>
               
            </div>
        </li>
    </ul>
    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>
<!--slide show Banner Ends-->



<div class="uk-child-width-1-1@s uk-text-center" uk-grid>
   
    <div>
        <div class="uk-background-secondary uk-light uk-padding uk-panel">
            <p class="uk-h4"><b>വിശേഷ ദിവസങ്ങൾ</b> </p>
        </div>
    </div>
</div>

<div class="news blue">
  <span>Breaking News</span><span class="text1" ><marquee>എല്ലാമാസവും മൂന്നാമത്തെ വെള്ളിയാഴ്ച മഹാഗുരുതി നടത്തപ്പെടുന്നു..........   ക്ഷേത്രത്തിലേക്ക്  സംഭാവന തരാൻ ഉദ്ദേശിക്കുന്ന ഭക്തർക്ക് കമ്മറ്റി മുഖേനയോ അല്ലെങ്കിൽ ക്ഷേത്ര ബാങ്ക് അക്കൗണ്ട് വഴിയോ നൽകാവുന്നതാണ്.</marquee></span>
  </div>
  <div class="news red">
    <span>Breaking News</span><span class="text1" ><marquee> എല്ലാമലയാളമാസത്തിലും അവസാനത്തെ ഞായറാഴ്ച്ച മറിസ്ഥംഭം നീക്കൽ കർമ്മം  നടത്തപ്പെടുന്നു....</marquee></span>
    </div>


<div class="xop-section">
    <ul class="xop-grid">
     
        <li>
            <div class="xop-box xop-img-1">
              <a href="#">
              <div class="xop-info">
                <h3>ചിങ്ങം </h3>
                <p><b>മകം നാളിൽ തന്ത്രി പൂജ</b> </p>
              </div></a>
            </div>
          </li>
          <li>
            <div class="xop-box xop-img-2">
              <a href="#">
              <div class="xop-info">
                <h3>കന്നി  </h3>
                <p><b>മകം നാളിൽ തന്ത്രി പൂജ</b> </p>
              </div></a>
            </div>
          </li>
          <li>
            <div class="xop-box xop-img-3">
              <a href="#">
              <div class="xop-info">
                <h3>തുലാം  </h3>
                <p><b> നവരാത്രി പൂജ മകം പൂജ </b> </p>
              </div></a>
            </div>
          </li>
          <li>
            <div class="xop-box xop-img-4">
              <a href="#">
              <div class="xop-info">
                <h3>
                    വൃശ്ചികം </h3>
                <p><B>തൃക്കാർത്തിക പൂജ <BR>/ അഖണ്ഡനമായജ്ഞO </B> </p>
              </div></a>
            </div>
          </li>
     
     


          <li>
            <div class="xop-box xop-img-1">
              <a href="#">
              <div class="xop-info">
                <h3>ധനു  </h3>
                <p><b>മകം നാളിൽ തന്ത്രി പൂജ</b> </p>
              </div></a>
            </div>
          </li>
          <li>
            <div class="xop-box xop-img-2">
              <a href="#">
              <div class="xop-info">
                <h3>മകരം  </h3>
                <p><b>
                    മകരച്ചൊവ്വ  മഹോത്സവം<BR> മകം പൂജ </b> </p>
              </div></a>
            </div>
          </li>
          <li>
            <div class="xop-box xop-img-3">
              <a href="#">
              <div class="xop-info">
                <h3>കുംഭം   </h3>
                <p><b> തിരുപൊങ്കാല രഥോത്സവം <BR>ഏഴാം പൂജ  </b> </p>
              </div></a>
            </div>
          </li>


          <li>
            <div class="xop-box xop-img-1">
              <a href="#">
              <div class="xop-info">
                <h3>മീനം 
                </h3>
                <p><b>മകം നാളിൽ തന്ത്രി പൂജ</b> </p>
              </div></a>
            </div>
          </li>


        <li>
        <div class="xop-box xop-img-1">
          <a href="#">
          <div class="xop-info">
            <h3>മേടം </h3>
            <p><b>അക്ഷയതൃതീയ / കനകധാരാസ്തവ <br>പൂജ</b> </p>
          </div></a>
        </div>
      </li>
      <li>
        <div class="xop-box xop-img-2">
          <a href="#">
          <div class="xop-info">
            <h3>എടവം </h3>
            <p><b>മകം നാളിൽ തന്ത്രി പൂജ</b> </p>
          </div></a>
        </div>
      </li>
      <li>
        <div class="xop-box xop-img-3">
          <a href="#">
          <div class="xop-info">
            <h3>മിഥുനം </h3>
            <p><b>മകം തിരുനാളിൽ <br>പ്രതിഷ്ഠാദിന മഹോത്സവം</b> </p>
          </div></a>
        </div>
      </li>
      <li>
        <div class="xop-box xop-img-4">
          <a href="#">
          <div class="xop-info">
            <h3>കർക്കിടകം </h3>
            <p><B>മകം നാളിൽ നിറപുത്തരി</B> </p>
          </div></a>
        </div>
      </li>
    </ul>
  </div>