
<div class="uk-child-width-1-1@s uk-text-center" uk-grid>
   
    <div>
        <div class="uk-background-secondary uk-light uk-padding uk-panel">
            <p class="uk-h4"><b>ക്ഷേത്ര വഴിപാടുകൾ </b> </p>
        </div>
    </div>
</div>

<table class="uk-table uk-table-hover  uk-table-divider">
    <thead>
        <tr>
            <th class="uk-text-center">വഴിപാട് </th>
            <th>വില </th>
         
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="uk-text-center" >പുഷ്പാഞ്ജലി  </td>
            <td>5.00</td>
            
        </tr>
        <tr>
            <td class="uk-text-center">രക്ത പുഷ്പാഞ്ജലി  </td>
            <td>7.00</td>
         
        </tr>
        <tr>
            <td class="uk-text-center">വിളക്ക് മാല </td>
            <td>20.00</td>
    
        </tr>

        <tr>
            <td class="uk-text-center">പിൻ വിളക്ക് </td>
            <td>10.00</td>
    
        </tr>

        <tr>
            <td class="uk-text-center">നെയ്യ് വിളക്ക് </td>
            <td>20.00</td>
    
        </tr>

        <tr>
            <td class="uk-text-center">മറിസ്ഥംഭം നീക്കൽ </td>
            <td>100.00</td>
    
        </tr>



        <tr>
            <td class="uk-text-center"> ഭാഗ്യ സൂക്ത പുഷ്പാഞ്ജലി  </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">പായസം</td>
            <td>35.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">കഠിന പായസം </td>
            <td>50.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">പട്ട് എടുത്ത് ചാർത്തൽ </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">മലർ നിവേദ്യം </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">സ്വയം വര മന്ത്രം പുഷ്പാഞ്ജലി  </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">മുട്ട് അറുക്കൽ  </td>
            <td>5.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">വാഹന പൂജ  </td>
            <td>75.00</td>
    
        </tr>
           <tr>
            <td class="uk-text-center">വെള്ളരി പൂജ  </td>
            <td>250.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">നാൾ പൂജ  </td>
            <td>150.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">ചോറൂൺ </td>
            <td>100.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">ഗണപതി ഹോമം  </td>
            <td>50.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">ഗുരുതി (വെള്ളിയാഴ്ച മാത്രം) </td>
            <td>650.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">പൂ മൂടൽ</td>
            <td>1500.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">ചുറ്റു വിളക്ക്</td>
            <td>1000.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">കളഭം ചാർത്ത് </td>
            <td>1000.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">മംഗല്യപൂജ  </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">മാലപൂജ </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">കെട്ടുനിറ </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> ധാര</td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> മഞ്ഞൾ അഭിഷേകം </td>
            <td>50.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">കുങ്കുമാഭിഷേകം</td>
            <td>50.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> പാൽ  അഭിഷേകം</td>
            <td>100.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">ഭഗവത് സേവ</td>
            <td>100.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> താലി ചാർത്തൽ </td>
            <td>50.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> ത്രിമധുരം </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> സംവാദ സൂക്ത പുഷ്പാഞ്ജലി </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">വാഹന പുഷ്പാഞ്ജലി</td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> ത്രികാല പൂജ </td>
            <td>200.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> 
                ശത്രു സംഹാര മുട്ട്  </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> ഗുരുതി മുട്ട്   </td>
            <td>20.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> ചന്ദനം ചാർത്തൽ </td>
            <td>1500.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">വിവാഹം </td>
            <td>250.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> പറ നിറപ്പ്</td>
            <td>50.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">മഞ്ഞൾ പറ </td>
            <td>100.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> നിലവിളക്ക് സമർപ്പണം</td>
            <td>30.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> കൂവള മാല  </td>
            <td>50.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center">തുളസി മാല  </td>
            <td>50.00</td>
    
        </tr>
        <tr>
            <td class="uk-text-center"> കളഭം ചാർത്തൽ ചുറ്റുവിളക്ക്   </td>
            <td>1500.00</td>
    
        </tr>
    </tbody>
</table>